*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
}

h1 {
  color: #2b4757;
}

section {margin: 0;}

#description {text-align: justify;}

p{display: inherit;}

#lvlDescription, #tablDescription {
    display: none;
    
    background-color: hsla(200, 15%, 95%, 1);
    border: 2px solid hsla(200, 30%, 65%, 1);
    border-radius: 0 0 15px 15px;
    margin-top: 2px;
    margin-bottom: 10px;
  }
  #tablDescription {
    border-radius: 15px 15px 0 0;
    margin-bottom: 2px;
  }

  #verbstable {
    position: relative;
    border-collapse: collapse; 
    width: 100%;
    transition: all 1s;
  }
 
  #verbstable td, #verbstable th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 33%;
  }
  
  #verbstable tr:hover {background-color:  hsla(45, 90%, 85%, 0.5) !important} 

  label:active {
  transform: translate(1px, 1px);
  }

  #verbstable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #2b4757;
    color: #c8e5f3;
  }

  #myInput {
    background-image: url("img/svgsearch.svg"); /* Add a search icon to input */
    background-position: 0px 0px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    border-radius: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  #tier-inputs {
    display: flex;
    width: 100%;
  }

  #tier-inputs label {
    display: inline-block;
    padding: 5px;
    margin: 0 2px;
    width: 20%; 
    border: 3px solid hsla(200, 100%, 35%, 1);
    border-radius: 15px 15px 0 0;
    justify-content: center;
    cursor: pointer;
  }

  


  #tier-inputs label:hover {background-color: hsla(200, 15%, 95%, 1) !important;}

  #tier-inputs label:nth-child(1) {background-color: hsla(200, 20%, 90%, 1);} 
  #tier-inputs label:nth-child(2) {background-color: hsla(200, 40%, 80%, 1);} 
  #tier-inputs label:nth-child(3) {background-color: hsla(200, 60%, 70%, 1);}
  #tier-inputs label:nth-child(4) {background-color: hsla(200, 80%, 60%, 1);}
  #tier-inputs label:nth-child(5) {background-color: hsla(200, 100%, 50%, 1);} 

  #tier-inputs label.label-tier-checked {background-color: hsla(200, 20%, 90%, 0);} 

  #tier-inputs label input {
    align-self: center;
    margin-left:auto; 
    margin-right:auto;
    display: block;
    accent-color: hsla(200, 100%, 25%, 1);  
    width: 23px; 
    height: 23px;
  }

  tr:not(.tier-checked), tr:not(.contains-filter){
    display: none;
  }

  .zebra {
    background-color: hsla(200, 70%, 90%, 1);
  }


  thead::before {
    transform-origin: 100% 100%;
    transform: rotate(90deg);
    right: 0;
    position: absolute;
    display: block;
    content: "now table has";
    height: 50px;
    width: 120px;
    background-color: red;
    


  }

  




  
  