@charset "utf-8";
	.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 28px;
	line-height : 20.3px;
	letter-spacing : -0.14px;
	color : #F2F2F2;
	color : rgb(242, 242, 242);
}
.NormalCharacterStyle
{
	font-family : Raleway;
	font-size : 18px;
	line-height : 24px;
	letter-spacing : -0.45px;
	color : #A1A8FF;
	color : rgb(161, 168, 255);
}
.NormalCharacterStyle6
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle2
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle9
{
	font-family : Lato;
	font-weight : bold;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle8
{
	font-family : Lato;
	font-weight : bold;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle11
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle10
{
	font-family : Lato;
	font-weight : bold;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle29
{
	font-family : Raleway;
	font-size : 18px;
	line-height : 24px;
	letter-spacing : -0.45px;
	color : #999999;
	color : rgb(153, 153, 153);
}
.NormalCharacterStyle26
{
	font-family : Raleway;
	font-size : 18px;
	line-height : 24px;
	letter-spacing : 1.35px;
	color : #333333;
	color : rgb(51, 51, 51);
}
.NormalCharacterStyle12
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle20
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle19
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle21
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle14
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle18
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle25
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle16
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle22
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle24
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle27
{
	font-family : Raleway;
	font-size : 18px;
	line-height : 24px;
	letter-spacing : 1.35px;
	color : #333333;
	color : rgb(51, 51, 51);
}
.NormalCharacterStyle30
{
	font-family : Raleway;
	font-size : 18px;
	line-height : 24px;
	letter-spacing : -0.45px;
	color : #999999;
	color : rgb(153, 153, 153);
}
.NormalCharacterStyle28
{
	font-family : Raleway;
	font-size : 18px;
	line-height : 24px;
	letter-spacing : 1.35px;
	color : #333333;
	color : rgb(51, 51, 51);
}
.NormalCharacterStyle31
{
	font-family : Raleway;
	font-size : 18px;
	line-height : 24px;
	letter-spacing : -0.45px;
	color : #A1A8FF;
	color : rgb(161, 168, 255);
}
.NormalCharacterStyle13
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle17
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle23
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle15
{
	font-family : Lato;
	font-size : 17px;
	letter-spacing : -0.08px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle35
{
	font-family : Raleway;
	font-size : 18px;
	line-height : 24px;
	letter-spacing : -0.45px;
	color : #4D4D4D;
	color : rgb(77, 77, 77);
}
.NormalCharacterStyle42
{
	font-family : Myriad Pro;
	font-size : 40px;
	line-height : 28.23px;
	letter-spacing : -0.2px;
	color : #757BFD;
	color : rgb(117, 123, 253);
}
.NormalCharacterStyle37
{
	font-family : Raleway;
	font-size : 35px;
	line-height : 28.23px;
	letter-spacing : -0.17px;
	color : #23008E;
	color : rgb(35, 0, 142);
}
.NormalCharacterStyle39
{
	font-family : Space Grotesk;
	font-size : 25px;
	line-height : 26.57px;
	letter-spacing : -0.62px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle34
{
	font-family : Space Grotesk;
	font-size : 25px;
	line-height : 26.57px;
	letter-spacing : -0.62px;
	color : #757BFD;
	color : rgb(117, 123, 253);
}
.NormalCharacterStyle41
{
	font-family : Myriad Pro;
	font-size : 69px;
	line-height : 59px;
	letter-spacing : -1.72px;
	color : #F2F2F2;
	color : rgb(242, 242, 242);
}
.NormalCharacterStyle33
{
	font-family : Space Grotesk;
	font-size : 25px;
	line-height : 26.57px;
	letter-spacing : -0.62px;
	color : #757BFD;
	color : rgb(117, 123, 253);
}
.NormalCharacterStyle36
{
	font-family : Raleway;
	font-size : 24px;
	line-height : 19.86px;
	letter-spacing : -0.12px;
	color : #23008E;
	color : rgb(35, 0, 142);
}
.NormalCharacterStyle32
{
	font-family : Space Grotesk;
	font-size : 25px;
	line-height : 26.57px;
	letter-spacing : -0.62px;
	color : #757BFD;
	color : rgb(117, 123, 253);
}
.NormalCharacterStyle38
{
	font-family : Space Grotesk;
	font-size : 38px;
	line-height : 44px;
	letter-spacing : -0.95px;
	color : #F2F2F2;
	color : rgb(242, 242, 242);
}
.NormalCharacterStyle40
{
	font-family : Space Grotesk;
	font-size : 58px;
	line-height : 50.35px;
	letter-spacing : -1.45px;
	color : #FF6464;
	color : rgb(255, 100, 100);
}
